<div class="panel panel-default comment">
  <div class="panel-heading">
    A comment <%= footer(comment) %>
  </div>
  <div class="panel-body">
    <div class="comment-body">
      <%= raw comment.body %>
    </div>
  </div>
</div>
