<h1>How To ?</h1>

<p>As a registered user, you can post quotes, notes and images in this timeline, and discuss the items with other registered users.</p>

<h2><small>A Quote</small></h2>

<p>When you are logged in, you can find a 'bookmark' link at the top of every page. Drag this 'bookmark' to the bookmarks in your browser.</p>
<p>When you have that link bookmarked, go to a web page you want to quote. Then select the content (text, images etc) you want to quote and click on the bookmark (in your bookmarks). The selected content is added to the timeline, even as the the picture of video etc when you are quoting from a Flickr, Vimeo, Youtube etc page.</p>

<h2><small>A Note</small></h2>

<p>Just post a note in the editor at the bottom of the page.</p>

<h2><small>A Picture</small></h2>

<p>At the bottom of the page there is an upload form for pictures</p>
